
<div class="row" style="margin-bottom: 7px;margin-top: -8px">
    <div class="col-sm-12  m-t-10">  
        <div class="btn-group float-right m-b-10">
            <button class="btn btn-block btn-radius  m-b-5"
            style="background-color: #F86F15; color: white;" 
             >
                Add</button>
        </div>
        <h4 class="page-title" style="font-size: 18px;padding-right: 5px; ">Manage categories</h4>
    </div>
</div>

<div class="row" >
    <div class="col-xl-12">
        <div class="card">
                <div class="card-body text-center">

                     <!-- search -->
                <div class="row" style="text-align: left;">
                    <div class="col-lg-4 col-md-4">
                        <label>Search</label>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-lg-4 col-md-4" style="margin-bottom: 15px;">
                        <input class="form-control input-sm" type="text"
                        placeholder="Category name"
                        >
                    </div>
                    <div class="col-lg-4 col-md-4" style="margin-bottom: 15px; text-align: left;">
                        <button type="button" class="btn btn-sm  btn-radius"  style="background-color:#F86F15; color: white;">
                            Search
                            <!-- <i class="fa fa-spinner fa-spin" style="font-size:15px;" ></i> -->
                        </button>&nbsp;
                        <button type="button" class="btn btn-secondary waves-effect btn-radius btn-sm"
                           >
                            Reset
                            <!-- <i class="fa fa-spinner fa-spin" style="font-size:15px;" ></i> -->
                        </button>
                    </div>
                </div>
                 
                 </div>
        </div>
    </div>
</div>

       <!-- display category -->
<div class="row">
    <div class="col-12">
        <table class="table table-hover " style="width: 100%">
            <thead>
                <tr style="text-align: center">
                    <th style="min-width:80px">Id </th>
                    <th style="min-width: 293px;">Category name </th>
                    <th style="min-width: 100px;"> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cat of categoryList ">
                    <td>{{cat.id}}</td>
                    <td>{{cat.name}}</td>                                      
                    <td>
                        <!-- <button class="btn btn-sm btn-info btn-radius" [hidden]="authPage?.canEdit == false"
                        type="button" (click)="getJobForEdit(_job.jobId,newJobModal )">
                        &nbsp;<i class="fas fa-edit"></i>&nbsp;
                      <i class="fa fa-spinner fa-spin" style="font-size:16px;color:#f7f8f7;"></i>
                    </button> &nbsp; -->
                        &nbsp;
                       <i class="fal fa-edit"style="cursor: pointer;font-size: 17px;"></i>
                      
                      
                       &nbsp;
                        &nbsp;
                        <!-- <button class="btn btn-sm btn-danger btn-radius" type="button"
                            (click)="openConfirmDelete(deleteTemplate, cat.jobId)">                                               
                        </button> &nbsp; -->
                        &nbsp;
                      <i  class="fa fa-trash" style="font-size: 2em;"
                      style="color:red ;cursor: pointer;font-size: 17px;"></i>
                      &nbsp;
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<!-- =========== Modals ============================================================== -->
<!-- new category -->
<ng-template #newCatModal>

    <div class="modal-header">
        <h4 class="modal-title pull-left">{{modalTitle}}</h4>
        <button type="button" class="close pull-right" aria-label="Close">
            <!-- (click)="closeModal() -->
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form  id="categoryForm" >
        <!-- (ngSubmit)="onSubmitCategory(categoryForm.value)" -->
        <div class="modal-body custom-modal">

            <div class="row">
                <div class="col-12 p-10">
                    <input type="hidden" formControlName="id">

                    <div class="row">
                            <!-- <div class="col-lg-12 col-md-12 form-group" 
                            [ngClass]="{'has-error': (categoryForm.get('name').touched || categoryForm.get('name').dirty) 
                                        && !categoryForm.get('name').valid }"> -->
                                <label class="control-label">Category name 
                                </label>&nbsp;<span style="color:red;font-size: 18px;font-weight: bold">*</span>
                                <input class="form-control input-sm" formControlName="name" type="text"
                                    placeholder="Category name">
                                <!-- <div style="margin-top:6px;margin-bottom:-15px;color:red;font-weight: bold" class="alert"
                                    *ngIf="!categoryForm.get('name').valid && categoryForm.get('name').touched"> -->
                                    <!-- <div *ngIf="categoryForm.get('name').errors?.required">
                                        Name is required
                                    </div> -->
                                </div>
                            </div>

                    </div>
                </div>


            <!-- </div> -->
        <!-- </div> -->
        <div class="modal-footer">
            <button class="btn btn-radius btn-sm btn-bgcolor" type="submit" >
                <!-- [disabled]="!categoryForm.valid" -->
                &nbsp; {{buttonTitle}}
                &nbsp; <i class="fa fa-spinner fa-spin" style="font-size:15px;" ></i>
            </button>
            <button type="button" class="btn btn-secondary waves-effect btn-radius btn-sm"
                data-dismiss="modal">Cancel 
            </button>
            <!-- (click)="closeModal()" -->
        </div>
    </form>

</ng-template>
