
    <!-- Start Categories of The Month -->
     <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categories of The Month</h1>
                <p>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-6 col-md-4 p-5 mt-3"*ngFor="let cat of category" >
                <div >
                <a href="#"><img src="./assets/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">{{cat.name}}</h2>
                <p class="text-center"><a class="btn btn-success" routerLink="/shared/shop">Go Shop</a></p>
               </div>
           </div>
      </div>
    </section> 
    <!-- End Categories of The Month -->



     <!-- <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item " data-bs-ride="carousel" role="listbox">  -->
        <!--Start Slides-->
        <!-- <div class="carousel-inner product-links-wap" role="listbox"> -->

            <!-- <div class="col-4" *ngFor="let cat of category">  -->
             <!-- <div class="col-6 col-md-4 p-5 mt-3"*ngFor="let cat of category" >
                  <div >
                    <a href="#"><img src="./assets/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
                    <h2 class="h5 text-center mt-3 mb-3">{{cat.name}}</h2>
                    <p class="text-center"><a class="btn btn-success" routerLink="/shared/shop">Go Shop</a></p>
                   </div>
             </div>
        </div> -->
            <!--First slide-->
            <!-- <div class="carousel-item active">
                <div class="row">
                    <div class="col-4" *ngFor="let cat of category">
                        <div >
                            <a href="#"><img src="./assets/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
                            <h2 class="h5 text-center mt-3 mb-3">{{cat.name}}</h2>
                            <p class="text-center"><a class="btn btn-success" routerLink="/shared/shop">Go Shop</a></p>
                           </div>
                    </div> 
                   
                 </div>
            </div> -->
        <!--First slide-->

            <!--Second slide-->
            <!-- <div class="carousel-item">
                <div class="row">
                    <div class="col-4">
                        <a href="#">
                            <img class="card-img img-fluid" src="assets/img/product_single_04.jpg" alt="Product Image 4">
                        </a>
                    </div>
                </div>
            </div> -->
            <!--/.Second slide-->

            
        <!-- </div> -->
        <!--End Slides-->
    <!-- </div> -->
    <!--End Carousel Wrapper-->
