<div class="container mt-2" >

    <div class="row">
        <div class="col-xl-12">
            <div class="card-body text-center" style="color:darkgrey">
                <!-- <p>There are no items in your basket</p> -->
                <p> Welcom In your basket </p>
            </div>
        </div>
    </div>

    <div >
        <div class="pd-5">
            <div class="row">
                <div class="col-12 py-5 mb-1">

                  <app-cart></app-cart>

                </div>
            </div>
            <div class="row mb-5">
                 <div class="col-6 offset-6">
                   
                     <button 
                        class="btn btn-outline-primary py-2 btn-block" >
                    Pyment</button>
                 </div>
            </div>
        </div>
    </div>

</div>